<div class="row-layout group">
  <igx-nav-drawer [pin]="true" [pinThreshold]="1024" width="320px" class="nav-drawer">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon">
          account_circle
        </igx-icon>
        <span>View 1</span>
      </div>
      <a href="https://www.google.com/maps/d/u/0/edit?hl=en&mid=1YSLbVR4kdsF2uH94lOGZ3shGT0RLdc0&ll=34.15278346025923%2C-118.46777069114482&z=10" target="_blank" class="ig-typography__body-1 hyperlink">
        MAP
      </a>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon">
          assignment_turned_in
        </igx-icon>
        <span>View 2</span>
      </div>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon">
          assessment
        </igx-icon>
        <span>View 3</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="column-layout group_1">
    <a href="https://www.google.com/maps/d/u/0/edit?mid=1YSLbVR4kdsF2uH94lOGZ3shGT0RLdc0&usp=sharing" target="_blank" class="ig-typography__body-1 hyperlink">
      LA COUNTY MAP
    </a>
    <p class="text"></p>
    <img src="/assets/download.jpg" class="image" />
  </div>
  <igx-list class="list">
    <igx-list-item></igx-list-item>
  </igx-list>
  <igx-list class="list_1">
    <igx-list-item></igx-list-item>
  </igx-list>
</div>
